#controls {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  width: 10em;
  font: bold 13px Arial, Helvetica, sans-serif;
}
#controls.centered {
  left: 50%;
  top: 50%;
  width: 30em;
  transform: translate(-50%, -50%);
}
#controls.bottom-right {
  right: 0;
  bottom: 0;
}
#controls .hidden {
  display: none;
}
#controls .button {
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #7d7d7d);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #e7e5e5;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  user-select: none;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  line-height: 5em;
  vertical-align: middle;
}
@media (max-width: 1280px) {
  #controls .button {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  #controls .button {
    font-size: 80%;
  }
}
@media (max-width: 800px) {
  #controls .button {
    font-size: 70%;
  }
}
@media (max-width: 640px) {
  #controls .button {
    font-size: 60%;
  }
}
#controls .button.disabled {
  background-color: #bbb;
  background-image: linear-gradient(to bottom, #ccc, #bbb) !important;
  color: #8a8a7b;
  cursor: auto;
  pointer-events: none;
}
#controls .button.selected {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #48d, #26a) !important;
}
#controls .button.hidden {
  display: none;
}
@media (min-width: 2280px) {
  #controls .buttonBlock {
    display: inline-block;
  }
}
#controls .buttonBlock.hidden {
  display: none;
}
#controls .separator {
  width: 2em;
  display: inline-block;
}
#controls .device {
  color: #036;
  display: inline-block;
  font: bold 18px Arial, Helvetica, sans-serif;
  padding: 0 0.3em;
  margin: auto;
  text-align: center;
}
@media (min-width: 2280px) {
  #controls .device {
    min-width: 100px;
  }
}
#controls .button {
  text-align: center;
  font-size: 2em;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  /* background: url("img/background.png") no-repeat left top fixed; */
  background-size: 100vw 100vh;
}

.slideout {
  position: fixed;
  bottom: 0;
  transition: all 400ms ease-in;
  transition-duration: 0.3s;
  color: white;
}
.slideout.locked {
  display: none;
}
.slideout.left {
  left: 0;
}
.slideout.right {
  right: 0;
}
.slideout .slideout_inner {
  position: fixed;
  padding: 0.7em 1em;
  transition-duration: 0.3s;
  text-align: left;
  /* border-radius: 5px 5px 0 0; */
  background: #518FAE;
}
.slideout.left .slideout_inner {
  left: 0;
}
.slideout.right .slideout_inner {
  right: 0;
}
.slideout.auto-expand:hover .slideout_inner,
.slideout.expanded .slideout_inner {
  position: static;
}
.slideout .title {
  background: #518FAE;
  border-radius: 5px 5px 0 0;
  font-size: 14pt;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0.2em 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.slideout.expanded .title {
  background: #315668;
}
.slideout.auto-expand .title {
  cursor: default;
}
#options {
  user-select: none;
  max-height: 100vh;
  overflow: auto;
}
#options.expanded {
  width: 22em;
}
#options .group {
  font-size: 14pt;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0.9em;
}
#options .group .name {
  color: #ffd;
  background: #629ab6;
  margin-bottom: 0.5em;
}
#options .group .row {
  font-size: 12pt;
  font-weight: normal;
  height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#options .group .row .cell {
  display: inline-block;
}
#options .group .row .cell span {
  padding: 0 0.2em;
}
#options .group .row label,
#options .group .row .label {
  display: inline-block;
}
#options .group .row .value {
  width: 4em;
  text-align: right;
}
#options .group .row input.value[type="color"] {
  width: 4.5em;
}
#options .group .row select.value,
#options .group .row input.value[type="text"] {
  width: 6em;
  text-align: left;
}
#options .group .row input[type="radio"] {
  margin: 0;
  padding: 0;
  height: 24px;
}
#options .group .row .listItem {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  transition: all 400ms ease-in;
  width: 24px;
  height: 24px;
}
#options .group .row .listItem.text-align-left {
  background-image: url("img/align-left.png");
}
#options .group .row .listItem.text-align-center {
  background-image: url("img/align-center.png");
}
#options .group .row .listItem.line-spacing-0 {
  background-image: url("img/line-spacing-0.png");
}
#options .group .row .listItem.line-spacing-1 {
  background-image: url("img/line-spacing-1.png");
}
#options .group .row .listItem.line-spacing-2 {
  background-image: url("img/line-spacing-2.png");
}
#options .group .row .listItem.line-spacing-3 {
  background-image: url("img/line-spacing-3.png");
}
#options .group .row .listItem.line-spacing-4 {
  background-image: url("img/line-spacing-4.png");
}

.slideout {
  position: fixed;
  bottom: 0;
  transition: all 400ms ease-in;
  transition-duration: 0.3s;
  color: white;
}
.slideout.locked {
  display: none;
}
.slideout.left {
  left: 0;
}
.slideout.right {
  right: 0;
}
.slideout .slideout_inner {
  position: fixed;
  padding: 0.7em 1em;
  transition-duration: 0.3s;
  text-align: left;
  /* border-radius: 5px 5px 0 0; */
  background: #518FAE;
}
.slideout.left .slideout_inner {
  left: 0;
}
.slideout.right .slideout_inner {
  right: 0;
}
.slideout.auto-expand:hover .slideout_inner,
.slideout.expanded .slideout_inner {
  position: static;
}
.slideout .title {
  background: #518FAE;
  border-radius: 5px 5px 0 0;
  font-size: 14pt;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0.2em 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.slideout.expanded .title {
  background: #315668;
}
.slideout.auto-expand .title {
  cursor: default;
}

#statistics {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 14pt;
  background-color: rgba(255, 255, 255, 0.5);
}
#statistics.hidden {
  display: none;
}
#statistics .wait {
  width: 100%;
  height: 100%;
  background: url('img/wait.gif') no-repeat fixed center;
}
#statistics .container {
  background-color: #518FAE;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30em;
  height: 80%;
  margin: auto;
  padding: 0.5em 1.5em;
}
#statistics .container .title {
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#statistics .container textarea {
  height: calc(86%);
  width: 100%;
  margin-bottom: 6px;
}
#statistics .container .button-strip {
  bottom: 1em;
  position: absolute;
}

#textEditor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.5);
}
#textEditor.hidden {
  display: none;
}
#textEditor .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7em 1em;
  text-align: left;
  background: #518FAE;
}
#textEditor .inner textarea {
  width: 800px;
  height: 400px;
  margin-bottom: 6px;
  color: #555;
  font-size: 18pt;
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
}

#textContainer {
  position: relative;
  height: 70vh;
  margin: 15vh 15vw;
  background-color: #fff;
}
#textContainer #text {
  color: #775;
  font-size: 20pt;
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#textContainer #text.alignLeft {
  text-align: left;
}
#textContainer #text.x-large {
  line-height: 17.5vh;
}
#textContainer #text.large {
  line-height: 14vh;
}
#textContainer #text.median {
  line-height: 11.66666667vh;
}
#textContainer #text.small {
  line-height: 10vh;
}
#textContainer #text.x-small {
  line-height: 8.75vh;
}
#textContainer #text.invisible {
  visibility: hidden;
}
#textContainer #text:hover .word {
  /* outline: 2px solid #ccf; */
}
#textContainer #text .line {
  display: block;
}
#textContainer #text .line.h1 {
  color: #5e2095;
}
#textContainer #text .line.h2 {
  color: #0e6095;
}
#textContainer #text .line.authors {
  color: #b5b597;
}
#textContainer #text .currentWord {
  color: #c00;
}
#textContainer #text .word {
  /* nothing is needed, just the class declaration */
}
#textContainer #text .hyphens {
  color: #fff;
}
#textContainer #text .hyphen {
  color: #ffa0a0;
}
#textContainer #text .bold {
  color: black;
}

#visualization {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#visualization.invisible {
  display: none;
}
#visualization .close {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  z-index: 2;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3) url("img/close.png") no-repeat right top;
}
#visualization .wait {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 100vw;
  height: 100vh;
  background: url("img/wait.gif") no-repeat fixed center;
}
#visualization .wait.invisible {
  display: none;
}
#visualization canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
#visualization .prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CCC;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.3em;
}
#visualization .prompt.invisible {
  display: none;
}
#visualization .prompt select {
  display: block;
  margin: 0.3em;
  width: 16em;
}
#visualization .prompt select[multiple] {
  height: 12em;
}
#visualization .prompt .hidden {
  display: none;
}
#visualization .prompt input {
  display: block;
  margin: 0.3em;
  width: 16em;
}
#visualization .track_pointer {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #F80;
  border: 1px solid black;
  border-radius: 4px;
  opacity: 0.7;
}
#visualization .track_pointer.invisible {
  display: none;
}
#visualization .navigation {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding: 0.3em;
  left: 0;
  right: 0;
}
#visualization .navigation.invisible {
  display: none;
}
#visualization .navigation .button {
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #7d7d7d);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #e7e5e5;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  user-select: none;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  line-height: 5em;
  vertical-align: middle;
}
@media (max-width: 1280px) {
  #visualization .navigation .button {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  #visualization .navigation .button {
    font-size: 80%;
  }
}
@media (max-width: 800px) {
  #visualization .navigation .button {
    font-size: 70%;
  }
}
@media (max-width: 640px) {
  #visualization .navigation .button {
    font-size: 60%;
  }
}
#visualization .navigation .button.disabled {
  background-color: #bbb;
  background-image: linear-gradient(to bottom, #ccc, #bbb) !important;
  color: #8a8a7b;
  cursor: auto;
  pointer-events: none;
}
#visualization .navigation .button.selected {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #48d, #26a) !important;
}
#visualization .navigation .button.hidden {
  display: none;
}
#visualization .navigation .button {
  width: 7em;
  line-height: 2em;
}

#wordlist {
  position: fixed;
  left: 48px;
  top: 8px;
  width: 20vw;
}
#wordlist.invisible {
  display: none;
}
#wordlist .button {
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  color: #266;
  background: #ddd url('img/down.png') no-repeat right top;
  background-origin: content-box;
  padding-right: 8px;
  box-sizing: border-box;
  border-radius: 5px;
}
#wordlist .button.dropped {
  background-image: url('img/up.png');
  background-color: #cee;
}
#wordlist .table {
  height: calc(52vh);
  background-color: rgba(255, 255, 220, 0.8);
  transition: height 0.25s ease-in;
  overflow-y: auto;
}
#wordlist .table.invisible {
  height: 0;
  transition: height 0.25s ease-in;
}
#wordlist .table .record {
  widht: 100%;
}
#wordlist .table .record .word {
  display: inline-block;
  width: 60%;
  overflow-x: hidden;
  padding-left: 0.5em;
  box-sizing: border-box;
}
#wordlist .table .record .duration {
  display: inline-block;
  width: 35%;
  text-align: right;
  padding-right: 0.4em;
  box-sizing: border-box;
}
