//- requires:

mixin controls(id)
    div(id=id).controls.centered
        .instructions.pre-calib
            p Lue ohjeet huolellisesti ja odota, että kaikki ovat valmiita.
            p
                u Odota aina lupaa, ennen kuin painat nappia!
            p Kun saat luvan, paina &nbsp;
                span.highlight Aloita peli
                |&nbsp; -nappia hiirellä. Ruudulle ilmestyy kaksi palloa, jotka liikkuvat kun heilutat päätäsi. Ne ovat sinun silmäsi!
        .button.calibrate.disabled Aloita peli
        .instructions.post-calib.hidden
            p
                u Odota aina lupaa, ennen kuin painat nappia!
            p Lukiessasi kone yrittää auttaa tavuttamalla vaikeita sanoja. Kun olet lukenut sivun loppuun, paina nurkassa olevaa &nbsp;
                span.highlight Jatka
                |&nbsp; -nappia. Viimeisen sivun jälkeen paina &nbsp;
                span.highlight Lopeta
                |.
        .button.toggle.disabled.hidden Lue teksti
        .button.nextPage.disabled.hidden Jatka
        .button.thanks.disabled.hidden Kiitos!
        .hidden
            span.device Connecting
            .buttonBlock.etud
                .button.options.disabled Options
                .separator
                .button.__calibrate.disabled Calibrate
                .separator
                .button.__toggle.disabled Start
                .separator
                .button.__nextPage.disabled Next
            .separator
            .buttonBlock.text.hidden
            .separator
            .buttonBlock.spacing.hidden
            .separator
            .button.loadSession Gaze plot
            .button.loadCondition.hidden Load condition
            .button.loadFile.hidden Load file
            .separator
            .button.simulate.hidden Simulate
            .button.gazeReplay.hidden Replay
