//- requires:

mixin statistics(id)
    div(id=id).statistics.hidden
        .wait &nbsp;
    //
        .container
            .title Statistics
            textarea.text
            .button-strip
                input.close(type="button", value="Close")
                input.saveLocal(type="button", value="Save to file")
                input.saveRemote(type="button", value="Save to DB")
